nav {
  background-color: none;
  background: none;
  color: dimgrey;
}
i {

    background-color: none;
    background: none;
    color: dimgrey;
  }

  button {

      background-color: none;
      background: none;
  }


  .icon{
    padding-left: 10px;
  }
  .trash {
    border: none;
  }