nav {
  background-color: none;
  background: none;
  color: dimgrey;
}
h1{
  font-size: 50px;
}
h2 {
  font-size: 35px;
}
li {
  font-size: 16px;
}
i {

    background-color: none;
    background: none;
    color: dimgrey;
  }

  button {

      background-color: none;
      background: none;
  }


  .icon{
    padding-left: 10px;
  }
  .trash {
    border: none;
  }